body {
  background-color: #585a5c;
}
h2 {
  color: white;
}

.imagem-carrosel {
  object-fit: cover;
  object-position: 0 10%;
  height: 450px;
}
.spotify {
  color: rgb(93, 230, 138);
}

.margin-top {
  margin-top: 100px;
}

.img-cover {
  height: 220px;
  width: 220px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
  align-items: center;
}
